<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julão's Burger - Cardápio</title>
    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="shortcut icon" href="/assets/imgs/Logo Julãos Burguinho.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="header-content">
            <img src="assets/imgs/Logo Julãos Burguinho.png" alt="logotipo Julãos Burguinho" class="logo">
            <div class="header-text">
                <h1>Julão's Burguinho</h1>
            </div>
        </div>
        <div class="navegation">
            <nav>
                <ul>
                    <!-- As categorias serão carregadas aqui via JS -->
                </ul>
            </nav>
        </div>
        <!-- Ícone para abrir o carrinho -->
        <button id="openCart" class="cart-icon">
            <i class="fa-solid fa-cart-shopping fa-lg" style="color: #FFCC00;" class="icon"></i>
        </button>

        <!-- Estrutura do carrinho -->
        <div class="cart" id="cart">
            <div class="cart-header">
                <span>Carrinho de Compras</span>
                <button id="closeCart">&times;</button>
            </div>
            <div class="cart-items">
                <!-- Itens do carrinho serão adicionados aqui -->
            </div>
            <div class="cart-footer">
                <button>Finalizar Compra</button>
            </div>
        </div>
    </header>
    <main id="cardapio">
        <!-- Produtos serão carregados aqui -->
        <% produtos.forEach(produto=> { %>
            <div class="produto">
                <img src="<%= produto.imagem %>" alt="<%= produto.nome %>">
                <h2>
                    <%= produto.nome %>
                </h2>
                <p>
                    <%= produto.descricao %>
                </p>
                <p>Preço: R$<%= produto.preco.toFixed(2) %>
                </p>
                <!-- Adicione outros detalhes conforme necessário -->
            </div>
            <% }); %>
    </main>

    <div class="space"></div>

    <footer>
        <!-- Conteúdo do rodapé -->
    </footer>
    <script src="/assets/js/index.js"></script>
</body>

</html>